.search {
  padding: 5px;
  font-size: 14pt;
}

.search .container {
  padding: 5px;
  border: thin solid #ccc;
  border-radius: 5px;
}

.search input {
  font-size: 12pt;
  border: none;
  width: 90%;
}

.search input::placeholder {
  color: #b6b6b6;
}

.search input:focus {
  outline: none;
}

.search .icon {
  padding-left: 5px;
  padding-right: 5px;
}